[submodule "MToon"]
	path = Assets/VRMShaders/MToon
	url = https://github.com/Santarh/MToon.git
[submodule "vrm-specification"]
	path = vrm-specification
	url = https://github.com/vrm-c/vrm-specification.git
[submodule "glTF"]
	path = glTF
	url = https://github.com/KhronosGroup/glTF.git
