[submodule "UniJSON"]
	path = UniJSON
	url = https://github.com/ousttrue/UniJSON.git
[submodule "UniHumanoid"]
	path = UniHumanoid
	url = https://github.com/ousttrue/UniHumanoid.git
[submodule "DepthFirstScheduler"]
	path = DepthFirstScheduler
	url = https://github.com/ousttrue/DepthFirstScheduler.git
